.hidden {
    display: none;
}

* {
    font-family: 'Open Sans', sans-serif;
}

body img {
    width: auto;
    max-height: 100%;
}

#main {
    position: absolute;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    top: 46%;
    margin-top: -130px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock {
    font-size: 48px;
    margin: 0;
    text-shadow:1px 1px 1px #000;
    color: rgb(255, 228, 228);
}

#login-form input:first-child {
    box-sizing: content-box;
    width: 150px;
    height: 20px;
    padding: 10px 20px;
    border: 0;
    line-height: 20px !important;
    font-size: 17px;
    color: #fff;
    background: rgba(0,0,0,1);
    border-radius: 20px 0px 0 20px;
    margin-bottom: 10px;
}
#login-form input:last-child {
    box-sizing: content-box;
    height: 20px;
    padding: 10px 12px;
    border: 0;
    font-size: 12px;
    color: #fff;
    background: rgba(0,0,0,1);
    border-radius: 0 20px 20px 0;
    margin-bottom: 10px;
    width: 40px;
}

.loginBtn-toggle {
    font-weight: bold;
    font-size: 24px;
}

#greeting h1 {
    font-size: 80px;
    color: #fff;
    text-shadow:1px 1px 1px #000;
    margin-bottom: 0;
    margin-top: 0;
}

#greeting input {
    box-sizing: content-box;
    height: 20px;
    padding: 10px 16px;
    text-indent: -1.5px;
    font-size: 12px;
    color: #fff;
    background: rgba(0,0,0,1);
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 10px;
    width: 40px;
    align-items: center;
    position: relative;
    left: 42%;
    border: 0;
}

#todo-form input {
    box-sizing: content-box;
    width: 258.16px;
    height: 20px;
    padding: 10px 20px;
    border: 0;
    line-height: 20px !important;
    font-size: 17px;
    color: #fff;
    background: rgba(0,0,0,1);
    border-radius: 20px 0px 0 20px;
    margin-bottom: 10px;
}

#todo-list {
    width: auto;
}

ul li{
    list-style: none;
    box-sizing: content-box;
    width: auto;
    height: 20px;
    padding: 10px 20px;
    border: 0;
    line-height: 20px !important;
    font-size: 17px;
    color: #fff;
    background: rgba(0,0,0,1);
    border-radius: 20px 0px 0 20px;
    margin-bottom: 10px;
    margin-left: 0;
}

ul li span {
    width: 40%;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 0;
    overflow: hidden;
}

ul li button {
    display: flex;
    float: right;
    position: relative;
    top: -5px;
    border: 0;
    background-color: rgba(0,0,0,1);
    font-size: 20px;
}

#weather {
    text-shadow:1px 1px 1px #000;
    color: rgb(255, 228, 228);
}

#quote {
    font-size: 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow:1px 1px 1px #000;
    color: rgb(255, 228, 228);
}

#quote span:last-child {
    font-size: 15px;
}